{% extends 'app/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="date">
        {{ image.pub_date }}
      </div>

      {% include "includes/vote_buttons.html" with image=image vote=vote%}

      <h2>{{ image.title }}</h2>
      <img class="app-fit" src="{{image.url}}" alt=""/>
    </div>
    <div class="col-md-6">
      <h3>Description</h3>
      <p>{{ image.description|linebreaksbr }}</p>
      <h3>Comments</h3>
      {% for comment in comments %}
      {% if user.is_superuser %}
        <div class="border comment">
          
          <p class="red">
            Author: {{ comment.author }} ({{comment.created_at}})
          </p>
          <p class="secondary">
            {{ comment.text }}
          </p>
          {% if user.is_authenticated%}
          <form action="{% url 'app:like' image.id comment.id %}" method="post" class="border">
            {% csrf_token %}
            
          <input type="submit" value="Like" class="btn btn-lg"/>
          </form>
          {% endif %}
            {% if comment.approved == False%}
            <form action="{% url 'app:approve' comment.id %}" method="post" role="form" class="border">
            {% csrf_token %}
            <input type="submit" value="Approve comment" class="btn btn-lg btn-primary btn-block"/>
            </form>
            {% endif %}
            <p>Number of likes: {{ comment.like_set.count }}</p>
        </div>
      {% elif comment.approved == True %}
      <div class="border comment">
          
        <p class="red">
          Author: {{ comment.author }} ({{comment.created_at}})
        </p>
        <p class="secondary">
          {{ comment.text }}
          {{ comment.approved }}
        </p>
        {% if user.is_authenticated%}
        <form action="{% url 'app:like' image.id comment.id %}" method="post" class="border">
          {% csrf_token %}
          
        <input type="submit" value="Like" class="btn btn-lg"/>
        </form>
        {% endif %}
        <p>Number of likes: {{ comment.like_set.count }}</p>
      </div>
      {% endif %}
      {% endfor %}
      {% if user.is_authenticated %}
      <h2>Post a comment</h2>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

      <form action="{% url 'app:comment' image.id %}" method="post" class="border">
        {% csrf_token %}
      {% include "includes/bs4_form.html" with form=form %}
      <input type="submit" value="Post Comment" class="btn btn-lg btn-primary btn-block"/>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
