{% extends 'app/base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-10">
    <h1 class ="mb-5" style="text-align: center;">{{ otherUser }}</h1>
  </div>
</div>
{% for image,vote in images_with_votes %}
<div class="row">
  <div class="col-md-2">
    <img class="app-fit" src="{{image.url}}" alt=""/>
  </div>
  <div class="col-md-10">
    <div class="date">
      <p class="red">
        
      Published: {{ image.pub_date }};  Comments: {{ image.comment_set.count }}
      {% if image.user.id == user.id or user.is_superuser%}
      <a href="{% url 'app:edit_image' image.id %}" >Edit</a>  | {% include "includes/delete_image_link.html" with image=image %}
      {% endif %}
      </p>
    </div>

      {% include "includes/vote_buttons.html" with image=image vote=vote%}
    <h2><a href="{% url 'app:detail' image.id %}">{{ image.title }}</a></h2>
    <p>{{ image.description|linebreaksbr }}</p>
    <p>Posted by {{ image.user }}</p>
  </div>
</div>
{% endfor %}
{% for comment in comments %}
<div class="border comment">
          
    <p class="red">
      Author: {{ comment.author }} ({{comment.created_at}})
    </p>
    <p class="secondary">
      {{ comment.text }}
    </p>
    <p>Number of likes: {{ comment.like_set.count }}</p>
{% endfor %}
{% endblock %}